{% load render_table from django_tables2 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Tables</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <h4>All Books</h4>
    {% render_table books_table %}
    <br>
    <h4>All Authors</h4>
    {% render_table authors_table %}
    <br>
    <h4>All Genres</h4>
    {% render_table genres_table %}
    <br>
    <h4>All Languages</h4>
    {% render_table languages_table %}
</body>
</html>